html {
  background-color: #222B2F;
  overflow-y: hidden;
}

body {
  margin: 0;
  padding: 0;
}

.menu {
  top: 2%;
  left: 1%;
  position: absolute;
  width: 120px;
  background: #222B2F;
  border: 1px solid rgba(238, 138, 101, 0.7);
  z-index: 1;
  font-family: 'Open Sans', sans-serif;
}

.menu-items {
  font-size: 13px;
  height: 40px;
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  color: #fffffe;
  border: none;
  border-bottom: 1px solid rgba(238, 138, 101, 0.7);
  background-color: #222B2F;
  outline: none;
}

.menu-items:hover {
  cursor: pointer;
  background-color: #f8f8f8;
  color: #404040;
}

.mapboxgl-ctrl,
.mapboxgl-ctrl-attrib,
.mapboxgl-ctrl-bottom-left,
.highcharts-credits {
  display: none;
}

.chart {
  top: 0;
  right: 0;
  position: absolute;
  width: 30vw;
  height: 100vh;
  background-color: #222B2F;
  margin: 1em auto;
  padding: 0;
  text-align: center;
}

.intro-info {
  color: #fffffe;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 20px;
}

.overlay-msg {
  top: 2%;
  right: 1%;
  position: absolute;
  width: 125px;
  padding: 5px;
  text-align: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  z-index: 1;
  background: #222B2F;
  border: 1px solid rgba(238, 138, 101, 0.7);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #fffffe;
  border-radius: 3px;
}

@media only screen and (max-width: 1224px) {
  .chart {
    width: 100vw;
    height: 45vh;
    bottom: 0 !important;
    left: 0 !important;
    margin: auto auto 0 auto;
  }
}